.planetsPage {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

thead {
  background-color: rgb(7, 7, 7);
}

tbody {
  background-color: black;
}